* {
    font-family: 'Lato', 'Noto Sans JP', sans-serif;
    font-weight: 300;
    line-height: 1.8rem;
}

body {
    margin: 0 auto;
}

body.profile{
    max-width: 1200px;
    background-color:hsla(359,0%,96%,1);
    background-image:
radial-gradient(at 100% 100%, hsla(198,100%,50%,0.1) 0px, transparent 30%),
radial-gradient(at 0% 0%, hsla(359,0%,96%,1) 0px, transparent 50%);
}

main, footer {
    width: 100%;
}

a {
    color: #444444;
}

b {
    font-weight: bold;
}

p {
    text-align: center;
}
span.note {
    font-size: 0.7rem;
}

/* main */
main {
}

main h1 {
    text-align: center;
}

section.top-level  {
    padding: 1.5em;
}
 
section {
    padding: 1.5em;
}

section.odd {
    background-color:hsla(359,0%,96%,1);
    background-image:
radial-gradient(at 100% 100%, hsla(198,100%,50%,0.1) 0px, transparent 30%),
radial-gradient(at 0% 0%, hsla(359,0%,96%,1) 0px, transparent 50%);
}
section.even {
    background-color: white;
}

section.top-level > h1 {
    font-weight: 400;
    font-size: 3.0rem;
    letter-spacing: -0.1rem;
}

section > h1 {
    font-weight: bold;
}

ul {
    padding: 0.2em 1em 0 1em;
}

li {
    padding: 0 0 0.7em 0;
    list-style-type: disc;
}

/* mission */
section.mission {
    padding: 15em 0 15em 0;
}
section.mission .mission_statement {
    font-size: 1.0em;
    line-height: 1.6rem;
}

/* service */
section.service section {
    max-width: 450px;
    margin: auto
}
section.service  li {
    font-size: 0.9em;
    text-align: left;
    color: #555555;
}

/* coach */
section.coach {
    text-align: center;
}
section.coach section.coach_profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    place-items: center;
    max-width: 800px;
    margin-inline: auto;
}
@media(max-width: 800px){
    section.coach section.coach_profile  {
        grid-template-columns: 1fr;
    }
}
img.profile_photo {
    border-radius: 5%;
    width: 200px;
}
section.coach p.coach_name {
    font-weight: bold;
}
section.coach .sns li {
    display: inline;
    font-size: 1.3em;
    padding-right: 0.4em;
}
section.coach .sns li:before {
    content: none;
}
section.coach .sns a {
    text-decoration: underline;
}

/* client */
ul.client_logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    max-width: 800px;
    margin: auto;
    padding: 0;
}
ul.client_logo li {
    width: 160px;
    height: 160px;
    border: #eeeeee 1px solid;
    border-radius: 5%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
ul.client_logo li  img {
    width: 120px;
}

/* company */
section.company table.company_info {
    margin:auto;
    max-width: 500px;
}
section.company table.company_info th, table.company_info td {
    border-bottom: solid black 1px;
    padding-top: 2em;
    padding-bottom: 0.5em;

}
section.company table.company_info th {
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    padding-right: 2em;
    min-width: 100px;
}
section.company table.company_info td {

}

/* contact */
section.contact {
    margin-bottom: 25em; 
}

/* -------------------------- */
/* product coaches page*/
/* -------------------------- */
main.profile > section {
    padding: 0;
}

ul.timeline {
    list-style: none;
    position:relative; 
    padding: 0;
}
li.timeline-section {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    max-width: 1200px;
    margin-inline: auto;
}
li.timeline-section::before {
    position: absolute;
    content: "";
    display: block;
    border-left: 2px solid #aaa;
    top: 2px;
    bottom: 0px;
    left: 19px;
}
div.timeline-icon {
    background-color: #555;
    border-radius: 9999vmax;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 999;
}
div.timeline-content {
    margin: 0 0 0.4em 6px;
}
div.timeline-content h2{
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 0.3em 0;
    letter-spacing: 0.1rem;
}
div.timeline-content p.timeline-date{
    display: inline;
    font-size: 0.8em;
    margin-left: 0.5em;
    color: #777;
}
div.timeline-content p.timeline-title{
    display: inline;
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
}
div.timeline-content ul {
    padding-bottom: 0.3em;
}
div.timeline-content li {
    font-size: 0.9em;
    padding: 0;
    color: #333;
    list-style: ;
}


/* cards */
ul.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul.cards li {
    list-style: none;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    border: solid 1px #eee;
    border-radius: 20px;
    background-color: white;

    width: 320px;
    height: 305px;
    margin: 0rem 0.5rem 0rem 0.5rem; 
}
.card-for-books {
    width: 200px;
    height: 400px;
    margin: 0rem 0.5rem 0rem 0.5rem; 
}
.card a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}
.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    border-bottom: solid 1px #eee;
}
.card-image-for-books {
    height: 295px;
}
.card-content {
    height: 105px;
    padding: 0.8rem;
}
.card-content-title {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}
.card-content-title-for-books {
    -webkit-line-clamp: 4;
}
.card-content-desc {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    
    font-weight: normal;
    font-size: 0.8rem;
    color: #666;
}
